<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".notification_page"
            android:exported="false" />
        <activity
            android:name=".create_recipe_page"
            android:exported="false" />
        <activity
            android:name=".food_desc_page"
            android:exported="false" />
        <activity
            android:name=".food_desc_page_lf"
            android:exported="false" />
        <activity
            android:name=".food_desc_page_pb"
            android:exported="false" />
        <activity
            android:name=".home_page"
            android:exported="false" />
        <activity
            android:name=".signup_page"
            android:exported="false" />
        <activity
            android:name=".login_page"
            android:exported="false" />
        <activity
            android:name=".edit_profile_page"
            android:exported="false" />
        <activity
            android:name=".uploaded_recipes"
            android:exported="false" />
        <activity
            android:name=".favorites_page"
            android:exported="false" />
        <activity
            android:name=".profile_page"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>